/**
 * Font-family importations
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

html {
  width: 100vw;
  height: 100vh;
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 35rem;
  height: 45rem;
  background-color: var(--white);
  border-radius: 2rem 2rem 10rem 2rem;
  padding: 2rem;
  position: relative;
}
@media (min-width: 992px) {
  .container {
    width: 76rem;
    height: 57rem;
    padding: 5rem;
  }
}
.container__labels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 992px) {
  .container__labels {
    width: 51rem;
  }
}
.container__labels p {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--smokey-grey);
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  padding-left: 0.5rem;
}
.container__inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 0.5rem;
}
@media (min-width: 992px) {
  .container__inputs {
    width: 51rem;
  }
}
.container__inputs input {
  height: 5rem;
  width: 7rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--light-grey);
  font-size: 1.8rem;
  font-weight: 800;
  padding-left: 1rem;
}
@media (min-width: 992px) {
  .container__inputs input {
    height: 6rem;
    width: 13rem;
    font-size: 3rem;
  }
}
.container__separator {
  margin: 6rem 0;
  border: 0.12rem solid var(--off-white);
}
@media (min-width: 992px) {
  .container__separator {
    margin: 5rem 0 3rem 0;
  }
}
.container__separator__image {
  width: 3rem;
  height: 3rem;
}
@media (min-width: 992px) {
  .container__separator__image {
    width: 4rem;
    height: 4rem;
  }
}
.container__separator__button {
  padding: 1.8rem;
  border-radius: 50%;
  background-color: var(--purple);
  position: absolute;
  top: 11.8rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border: none;
  transition: 300ms ease;
}
@media (min-width: 992px) {
  .container__separator__button {
    padding: 2.5rem;
    left: 90%;
    top: 15.5rem;
  }
}
.container__separator__button:hover {
  box-shadow: 0 0 2rem var(--purple);
}
.container__data p {
  font-size: 5.5rem;
  color: var(--off-black);
  font-weight: 800;
  font-style: italic;
  line-height: 1.1;
}
@media (min-width: 992px) {
  .container__data p {
    font-size: 9.5rem;
  }
}
.container__data span {
  font-size: 6rem;
  color: var(--purple);
  margin-bottom: -1.5rem;
  transition: 200ms ease;
}
@media (min-width: 992px) {
  .container__data span {
    font-size: 9.5rem;
  }
}

.error-invalid-date__day {
  font-weight: 400;
  font-style: italic;
  color: var(--light-red);
  margin-top: 1rem;
  position: absolute;
  top: 9rem;
  font-size: 0.8rem;
}
@media (min-width: 992px) {
  .error-invalid-date__day {
    top: 13.5rem;
    font-size: 1.4rem;
  }
}
.error-invalid-date__month {
  font-weight: 400;
  font-style: italic;
  color: var(--light-red);
  margin-top: 1rem;
  position: absolute;
  top: 9rem;
  font-size: 0.8rem;
  left: 12.5rem;
}
@media (min-width: 992px) {
  .error-invalid-date__month {
    top: 13.5rem;
    font-size: 1.4rem;
    left: 22rem;
  }
}
.error-invalid-date__year {
  font-weight: 400;
  font-style: italic;
  color: var(--light-red);
  margin-top: 1rem;
  position: absolute;
  top: 9rem;
  font-size: 0.8rem;
  left: 23rem;
}
@media (min-width: 992px) {
  .error-invalid-date__year {
    top: 13.5rem;
    font-size: 1.4rem;
    left: 39rem;
  }
}
.error-invalid-date__input-day {
  border: 1px solid var(--light-red) !important;
}
.error-invalid-date__input-month {
  border: 1px solid var(--light-red) !important;
}
.error-invalid-date__input-year {
  border: 1px solid var(--light-red) !important;
}
.error-invalid-date__label-day {
  color: var(--light-red) !important;
}
.error-invalid-date__label-month {
  color: var(--light-red) !important;
}
.error-invalid-date__label-year {
  color: var(--light-red) !important;
}

.error-invalid-date-disabled {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=index.css.map */